.profile {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;  
}
.profile__form {
  max-width: 410px;
  margin: 0 auto 220px;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.profile__title {
  min-width: 204px;
  height: 29px;
  margin: 0 auto 123px;
  padding: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;
  text-align: center;
}
.profile__inputs {
  max-width: 410px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.profile__input-container {
  max-width: 410px;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0 0 16px;
  border-bottom: 1px solid #E8E8E8;
  font-size: 11px;
  line-height: 1.18;
}
.profile__input-container:last-child {
  margin: 17px 0 0;
  padding: 0;
  border: none;
}
.profile__text {
  min-width: 141px;
  margin: 0 147px 0 0;
  font-weight: 500;
}
.profile__input {
  min-width: 122px;
  margin: 0 0 0 auto;
  padding: 0;
  font-weight: 400;
  text-align: right;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.profile__input-error {
  margin: 6px 0 0 0;
  padding-bottom: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;  
  color: #EE3465;
}
.profile__button-edit {
  margin: 0 auto 16px;
  min-width: 410px;
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.23;
  align-items: center;
  text-align: center;
  color: #000000;
}
.profile__button-sign-out {
  margin: 0 auto 70px auto;
  min-width: 410px;
  text-decoration: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.23;
  text-align: center;  
  color: #EE3465;
}

@media screen and (max-width: 900px) {
  .profile {
    max-width: 768px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;  
  }
}

@media screen and (max-width: 500px) {
  .profile {
    max-width: 320px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;  
  }
  
}