.page-not-found {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.page-not-found__title {
  margin: 246px auto 5px auto;
  padding: 0;
  max-width: 400px;
  font-weight: 400;
  font-size: 140px;
  line-height: 1.21;
  text-align: center;
}
.page-not-found__subtitle {
  margin: 0 auto 184px;
  max-width: 400px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.page-not-found__link {
  margin: 0 auto 60px auto;
  max-width: 42px;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  color: #3456F3;
}

@media screen and (max-width: 900px) {
  .page-not-found {
    max-width: 768px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

}
@media screen and (max-width: 500px) {
  .page-not-found {
    max-width: 320px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
}