.title {
  min-width: 1140px;
  margin: 0 auto;
  text-align: left;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.23;
  letter-spacing: -0.04em;
  padding-bottom: 23px;
  border-bottom: 1px solid #000000;
}

@media screen and (max-width: 900px) {
  .title {
    min-width: 668px;
  }
}

@media screen and (max-width: 500px) {
  .title {
    min-width: 284px;
    font-size: 18px;
    line-height: 1.22;
    padding-bottom: 28px;
  }  
}