.search-form {
  max-width: 1140px;
  margin: 0 auto 10px auto;
  padding: 0;
  display: flex;
  border-bottom: 1px solid #E8E8E8;
}
.search-form__container {
  max-width: 1140px;
  margin: 70px auto 69px auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  background-color: #F4F4F4;
  border-radius: 9px;
}
.search-form__film-container {
  max-width: 913px;
  margin: 0;
  padding: 19px 0 19px 19px;
  display: flex;
  flex-direction: row;
}
.search-form__button-loupe {
  margin: 6px 16px 6px 6px;
  padding: 0;
  width: 22px;
  height: 22px;
}
.search-form__input-film {
  min-width: 786px;
  margin: 0;
  text-decoration: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11;
  color: #A0A0A0;
}
.search-form__button-find {
  width: 34px;
  height: 34px;
  background-image: url(../../images/find-strelka.svg);
  background-size: 34px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin: 0 30px 0 0;
  padding: 0;
}
.search-form__short-film-container {
  margin: 16px 0 16px;
  padding: 0;
  display: flex;
  flex-direction: row;
  border-left: 1px solid #E8E8E8;
}
.search-form__button-switch {
  margin: 10px 14px 10px 29px;
  width: 36px;
  height: 20px;
  position: relative;
  display: inline-block;
}
.search-form__input-switch {
  opacity: 0;
  width: 0;
  height: 0;
}
.search-form__slider {
  position: absolute;
  border-radius: 20px;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFFFFF;
  -webkit-transition: .4s;
  transition: .4s;
}
.search-form__slider:before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  left: 2px;
  bottom: 2px;
  background-color: #2BE080;
  transition: .4s;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
  border-radius: 50%;
}
.search-form__input-switch:checked + .search-form__slider:before {
  background-color: #FFFFFF;
}
.search-form__input-switch:checked + .search-form__slider {
  background-color: #2BE080;
}
.search-form__input-switch:checked + .search-form__slider:before {
  transform: translate(16px);
}
.search-form__text {
  margin: auto 30px auto 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.38;
  color: #000000;
}