.saved-movies__saved-devider {
  max-width: 1280px;
  margin: 0;
  padding-top: 140px;
}
.movies-card-list__container_type_saved {
  grid-template-columns: repeat(3, 364px);
  grid-template-rows: repeat(1, 271px);
  margin-bottom: 30px;
}

@media screen and (max-width: 900px) {
  .saved-movies__saved-devider {
    max-width: 768px;
    margin: 0;
    padding-top: 140px;
  }
  .movies-card-list__container_type_saved {
    grid-template-columns: repeat(2, 339px);
    grid-template-rows: repeat(2, 258px);
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 500px) {
  .saved-movies__saved-devider {
    max-width: 320px;
    margin: 0;
    padding-top: 140px;
  }
  .movies-card-list__container_type_saved {
    grid-template-columns: repeat(1, 300px);
    grid-template-rows: repeat(2, 236px);
    margin-bottom: 30px;
  }
  .movies-card_type_saved:nth-child(n+3) {
    display: none;
  }  
}