.auth {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.auth__form {
  margin: 0 auto;
  max-width: 396px;
  display: flex;
  flex-direction: column;
}
.auth__inputs {
  min-width: 390px;
  margin: 0 auto 65px auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.auth__input-container {
  min-width: 396px;
  margin: 0 auto 24px auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.auth__input-container:last-child {
  margin: 0 auto;
}
.auth__text {
  min-width: 100%;
  margin: 0 0 5px 0;
  padding: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;  
  color: #A0A0A0;
}
.auth__text:first-child {
  margin-top: 0;
}
.auth__input {
  margin: 0;
  padding-bottom: 10px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #E8E8E8;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: #000000;
}
.auth__input-mistake {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #EE3465;
}
.auth__input-error {
  margin: 6px 0 0 0;
  padding-bottom: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;  
  color: #EE3465;
}
.auth__button {
  border: none;
  margin: 69px auto 0 auto;
  padding-top: 13px;
  padding-bottom: 15px;
  width: 396px;
  background-color: #3456F3;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.214;
  text-align: center;  
  color: #FFFFFF;
}
.auth__reg-container {
  margin: 16px auto 70px;
  min-width: 217px;
  display: flex;
  font-size: 14px;
  line-height: 1.21;
}
.auth__reg-question {
  min-width: 169px;
  margin: 0 6px 0 0;
  font-weight: 400;
  text-align: center;  
  color: #A0A0A0;
}
.auth__reg-link {
  border: none;
  text-decoration: none;
  min-width: 42px;
  margin: 0;
  font-weight: 400;
  text-align: center;  
  color: #3456F3;
}